{{> head }}

<body>
    {{> navbar }}
    <div class="row">

    </div>
    <div class="col-8">
        <h1>Example Image</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos a magni libero obcaecati cumque nemo aut quis doloribus similique provident ratione at nihil excepturi inventore itaque, esse laboriosam quod mollitia.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/yyyyy.png" class="img-thumbnail">
    </div>
    {{> footer}}
</body>